In [62]:
# import libraries
import pandas as pd
from IPython.display import display

In [63]:
# read train and test data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [64]:
display(train.head())
display(test.head())

,Sentence_id,New_Sentence,Type
0,GERRES15609,<html> b'Author and/or Review architecture/des...,Responsibility
1,PHERES15784,<html> b'Should be able to develop custom dyna...,Responsibility
2,GERREQ10457,<html> b'Experience in working cross\\u2010fun...,Requirement
3,GERSKL27235,"<html> b'Previous business experience, includi...",Skill
4,HONSSK18415,b'Delivering fast and right the first \\U0001f...,SoftSkill

   Sentence_id                                       New_Sentence
0  UAERES16346  <html> b'Collaborate across all of DB&T practi...
1  COGREQ15586  b'Strong \\u2705 technology expertise in Ident...
2  UAEREQ12722  b'Strong knowledge <br> on Service \\U0001f517...
3  COGSKL29155  <html> b'Architect scalable data processing an...
4  PHERES12551  <html> b'Map client organization, build outsta...

In [68]:
# preprocessiong

# remove null values
train = train.dropna()
test = test.dropna()

# remove HTML tags, Mail and URL

import re

def remove_html_tags(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

def remove_mail(text):
    clean = re.compile('([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)')
    return re.sub(clean, '', text)

def remove_url(text):
    clean = re.compile('((www\.[^\s]+)|(https?://[^\s]+))')
    return re.sub(clean, '', text)

train['New_Sentence'] = train['New_Sentence'].apply(lambda x: remove_html_tags(x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: remove_html_tags(x))

train['New_Sentence'] = train['New_Sentence'].apply(lambda x: remove_mail(x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: remove_mail(x))
train['New_Sentence'] = train['New_Sentence'].apply(lambda x: remove_url(x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: remove_url(x))

# remove words starts with '\\'
train['New_Sentence'] = train['New_Sentence'].apply(lambda x: re.sub(r'\\[a-zA-Z0-9]+', '', x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: re.sub(r'\\[a-zA-Z0-9]+', '', x))

# remove words start with '/'
train['New_Sentence'] = train['New_Sentence'].apply(lambda x: re.sub(r'/[a-zA-Z0-9]+', '', x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: re.sub(r'/[a-zA-Z0-9]+', '', x))


# replace '\' with ''
train['New_Sentence'] = train['New_Sentence'].apply(lambda x: re.sub(r'\\', '', x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: re.sub(r'\\', '', x))

# remove b'
train['New_Sentence'] = train['New_Sentence'].apply(lambda x: re.sub(r"b'", '', x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: re.sub(r"b'", '', x))


# remove multiple spaces
train['New_Sentence'] = train['New_Sentence'].apply(lambda x: re.sub(r'\s+', ' ', x))
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: re.sub(r'\s+', ' ', x))


train['New_Sentence'] = train['New_Sentence'].apply(lambda x: x.strip())
test['New_Sentence'] = test['New_Sentence'].apply(lambda x: x.strip())

In [69]:
display(train.head())
display(test.head())

,Sentence_id,New_Sentence,Type
0,GERRES15609,Author and Review architecture and other techn...,Responsibility
1,PHERES15784,Should be able to develop custom dynamic shape...,Responsibility
2,GERREQ10457,Experience in working cross with a larger Engi...,Requirement
3,GERSKL27235,"Previous business experience, including but no...",Skill
4,HONSSK18415,Delivering fast and right the first time.',SoftSkill

   Sentence_id                                       New_Sentence
0  UAERES16346  Collaborate across all of DB&T practices and o...
1  COGREQ15586  Strong technology expertise in Identity and Ac...
2  UAEREQ12722       Strong knowledge on Service Virtualization.'
3  COGSKL29155  Architect scalable data processing and analyti...
4  PHERES12551  Map client organization, build outstanding rel...

In [70]:
# save preprocessed data
train.to_csv('train_preprocessed.csv', index=False)
test.to_csv('test_preprocessed.csv', index=False)